{% extends 'base.html' %}
{% load gravatar_tag %}

{% block content %}

<table class="table is-striped is-hoverable is-fullwidth">
  <thead>
    <tr>
      <th>Id</th>
      <th>Username</th>
      <th>Email</th>
      <th>Bio</th>
      <th></th>
    </tr>
  </thead>
  {% for user in users %}
  <tbody>
    <td>{{ user.pk }}</td>
    <td><a href="{{ user.get_absolute_url }}">{{ user.username }}</a></td>
    <td>{{ user.email }}</td>
    <td>{{ user.bio|truncatechars:30 }}</td>
    <td><a href="{% url 'update' user.username %}" class="button is-warning is-small">Editar</a>
      <a href="{% url 'delete' user.username %}" class="button is-danger is-small">Borrar</a></td>
  </tbody>
  {% endfor %}
</table>

{% if is_paginated %}
  {% include 'pagination.html' %}
{% endif %}

{% endblock content %}